<div data-controller="favorite">
  <button id="favorite-btn" 
          data-favorite-target="button"
          data-model-id="<%= model.id %>"
          data-action="click->favorite#toggle"
          class="p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors <%= session[:favorites]&.include?(model.id) ? 'text-red-500' : 'text-gray-400' %>">
    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
    </svg>
  </button>
</div> 